@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="box box-primary">
    <div class="box-body">
        <div class="container">
            <form class="form-horizontal" action="/action_page.php">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="hoVaTen">Họ và tên:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" style="border: 1px dotted #646464; padding-left:15px">Nguyễn thị thanh ngân</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" style="border: 1px dotted #646464; padding-left:15px">Nguyenthithanhngan@gmail.com</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" >Mật khẩu:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="" name="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Nhập lại mật khẩu:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="" name="">
                    </div>
                </div>

  
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i>  Đổi mật khẩu</button>
                        <a href="~/Admin/Customer" class="btn btn-flat btn-default"> Quay lại</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
