    <!--MAIN-->
<div class="main">
    <div class="container">
        <div class="Title-Lien-He">
            <h1>GHÉ TRUNG TÂM CHÚNG TÔI NGAY</h1>
            <h6>
                Chất lượng chuẩn 5 sao, sự tận tâm trong phục vụ và chuyên gia Massage, Điều trị Da sẽ làm bạn hài lòng nhất
            </h6>
        </div>
        <div class="row">
            <div class="col">
                <div class="contact-info">
                    <h4>Liên hệ qua</h4>
                    <h6>Hotline hành chính: 8h00 - 17h00</h6>
                    <h5><i class="fa-solid fa-phone"></i> 093 596 35 94</h5>
                </div>
            </div>
            <div class="col">
                <div class="contact-info">
                    <h4>Tư vấn qua Email</h4>
                    <h6>Hãy gửi các thắc mắc của bạn!</h6>
                    <h5><i class="fas fa-envelope"></i> oanhvu@gmail.com</h4>
                </div>
            </div>
            <div class="col">
                <div class="contact-info">
                    <h4>Địa chỉ trung tâm</h4>
                    <h6>Đến để được tư vấn và kiểm tra miễn phí</h6>
                    <h5><i class="fas fa-map-marker"></i> La Ỷ, Phú Thượng</h4>
                </div>
            </div>
        </div>
        <div class="contact-map">
            <div class="google_maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.5237424821635!2d107.58819102589814!3d16.499636027770457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a1aa07c8fe33%3A0xeda59c466f3fea00!2zVGjDtG4gTGEg4bu3LCBwaMO6IHRoxrDhu6NuZywgcGjDuiB2YW5nLCB0aOG7q2EgdGhpw6puIGh14bq_!5e0!3m2!1svi!2s!4v1706973063768!5m2!1svi!2s"
                        width="1296" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!--END OF MAIN-->