@model HomeIndexModel

@{
   
    
}
<div class="main">

    <!-- Banner -->
    <div class="banner_main">

        <img src="~/images/img/banner_01.png" alt="">

    </div>
    <!-- End Banner -->
    <div class="slide-controls-wrapper dt-sc-hr-border">
        <!-- **container - Starts** -->
        <div class="container">
            <div class="slide-controls" style="display: block;">

                <!-- **column - Starts** -->
                <div class="column slide-dt-sc-one-fourth no-space first selected">
                    <!-- **dt-sc-ico-content type6 - Starts** -->
                    <div class="dt-sc-ico-content type10">
                        <!-- **icon - Starts** -->
                        <div class="icon">
                            <span class="fa-solid fa-star"></span>
                        </div>
                        <h4 title="Tiêu chuẩn 5 sao"> <a href="#">Tiêu chuẩn 5 sao</a> </h4>
                        <p>Được trang bị cơ sở vật chất hiện đại và tốt nhất cho khách hàng.</p>
                    </div> <!-- **dt-sc-ico-content type6 - Ends** -->
                </div>
                <!-- **column - Ends** -->
                <!-- **column - Starts** -->
                <div class="column slide-dt-sc-one-fourth no-space">
                    <!-- **dt-sc-ico-content type6 - Starts** -->
                    <div class="dt-sc-ico-content type10">
                        <!-- **icon - Starts** -->
                        <div class="icon">
                            <span class="fa-solid fa-star"></span>
                        </div>
                        <h4 title="Phương pháp thiên nhiên"> <a href="#">Phương pháp thiên nhiên</a> </h4>
                        <p>Sử dụng các dược liệu từ tự nhiên giúp đạt hiệu quả tối ưu.</p>
                    </div> <!-- **dt-sc-ico-content type6 - Ends** -->
                </div>
                <!-- **column - Ends** -->
                <!-- **column - Starts** -->
                <div class="column slide-dt-sc-one-fourth no-space">
                    <!-- **dt-sc-ico-content type6 - Starts** -->
                    <div class="dt-sc-ico-content type10">
                        <!-- **icon - Starts** -->
                        <div class="icon">
                            <span class="fa-solid fa-star"></span>
                        </div>
                        <h4 title="Relaxing Massage"> <a href="#">Relaxing Massage</a> </h4>
                        <p>Các bài massage chuyên nghiệp giúp bạn thoải mái và cân bằng.</p>
                    </div> <!-- **dt-sc-ico-content type6 - Ends** -->
                </div>
                <!-- **column - Ends** -->
                <!-- **column - Starts** -->
                <div class="column slide-dt-sc-one-fourth no-space">
                    <!-- **dt-sc-ico-content type6 - Starts** -->
                    <div class="dt-sc-ico-content type10">
                        <!-- **icon - Starts** -->
                        <div class="icon">
                            <span class="fa-solid fa-star"></span>
                        </div>
                        <h4 title="Công nghệ sinh học"> <a href="#">Công nghệ sinh học</a> </h4>
                        <p>Phương pháp điều trị chăm sóc làn da cực kì an toàn, hiệu quả.</p>
                    </div> <!-- **dt-sc-ico-content type6 - Ends** -->
                </div>
                <!-- **column - Ends** -->
            </div> <!-- **container - End** -->
        </div>
    </div>
    <!-- End slide main -->
    <!-- Dich Vu -->
    <div class="service">

        <h2 title="DỊCH VỤ TẠI SPA" class="Title-Servicer font-tnr">DỊCH VỤ TẠI SPA</h2>
        <p class="Servicer-Conten">Chúng tôi cung cấp các dịch vụ hỗ trợ và điều trị làm đẹp cho da </p>
        <div class="container-fluid row">
            <div class="col-sm-3">
                <div class="column dv-dt-sc-one-fourth first fadeInDown">
                    <div class="dt-sc-ico-content type15">
                        <div class="icon">
                            <span>
                                <img class="img_dichvu"
                                     src="//theme.hstatic.net/1000215715/1000275654/14/pservice4-spa_1_r1_services_img_1.jpg?v=1228"
                                     alt="BODY MASSAGE">
                            </span>
                        </div>
                        <h4 title="BODY MASSAGE"> <a href="/pages/body-massage"> BODY MASSAGE </a> </h4>
                        <p class="contenOfTile">
                            Massage toàn thân kết hợp vật lí trị liệu giúp cho da luôn trẻ hóa
                            và giúp cho cơ thể được thư
                            giãn.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="column dv-dt-sc-one-fourth  fadeInDown">
                    <div class="dt-sc-ico-content type15">
                        <div class="icon">
                            <span>
                                <img class="img_dichvu"
                                     src="//theme.hstatic.net/1000215715/1000275654/14/pservice4-spa_1_r1_services_img_2.jpg?v=1228"
                                     alt="FOOT MASSAGE">
                            </span>
                        </div>
                        <h4 title="FOOT MASSAGE"> <a href="/pages/foot-massage"> FOOT MASSAGE </a> </h4>
                        <p class="contenOfTile">
                            Khỏe khoắn hơn chỉ với 30 phút massage bàn chân cùng các phương pháp
                            đặc
                            biệt cùng vật liệu tự
                            nhiên.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="column dv-dt-sc-one-fourth  fadeInDown">
                    <div class="dt-sc-ico-content type15">
                        <div class="icon">
                            <span>
                                <img class="img_dichvu"
                                     src="//theme.hstatic.net/1000215715/1000275654/14/pservice4-spa_1_r1_services_img_3.jpg?v=1228"
                                     alt="FACE MASSAGE">
                            </span>
                        </div>
                        <h4 title="FACE MASSAGE"> <a href="/pages/face-dieu-tri-massage"> FACE MASSAGE </a> </h4>
                        <p class="contenOfTile">
                            Giúp trẻ hóa làn da mặt và thư giãn da nhờ liệu trình massage chuẩn
                            5
                            sao theo tiêu chuẩn quốc
                            tế.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="column dv-dt-sc-one-fourth  fadeInDown">
                    <div class="dt-sc-ico-content type15">
                        <div class="icon">
                            <span>
                                <img class="img_dichvu"
                                     src="//theme.hstatic.net/1000215715/1000275654/14/pservice4-spa_1_r1_services_img_4.jpg?v=1228"
                                     alt="ĐIỀU TRỊ DA MẶT">
                            </span>
                        </div>
                        <h4 title="ĐIỀU TRỊ DA MẶT">
                            <a href="/pages/face-dieu-tri-massage"> ĐIỀU TRỊ DA MẶT </a>
                        </h4>
                        <p class="contenOfTile">
                            Điều trị da mặt xấu nhờ công nghệ sinh học Collagen và ECG giúp da
                            trắng
                            sáng, mịn màng nhanh
                            chóng.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- End Dich Vu -->
    <!-- Slogan -->
    <div class="slogan_Home">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-sm-6">
                    <div class="Slogan-Conten">
                        <h3 title="Sự tuyệt vời từ Oanh Vu Spa & Nail">Sự tuyệt vời từ Oanh Vũ Spa & Nail</h3>
                        <p>
                            Với chất lượng dịch vụ chuẩn 5 sao cùng các phương pháp trị liệu sinh học, hương liệu,
                            dược
                            thảo
                            thiên nhiên sẽ mang đến bạn sự trẻ hóa tuyệt vời.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="Slogan-img">
                        <img src="~/images/img/anh-dep-thien-nhien-2-1.jpg" alt="" width="100%" height="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slogan -->
    <!--Chuyen gia-->
    <!--<div class="expert">
         <div class="container">
             <h1 class="expert-Title">CHUYÊN GIA TẠI SPA</h1>

             <div class="row">
                 <div class="col">
                     <div class="Avt-img">
                         <img class="img-thumbnail" src="~/images/img/avt_Oanh.jpg" alt="img">
                     </div>
                     <div class="Avt-Title">
                         <h3>Võ Thị Kim Oanh</h3>
                         <h5>Chuyên Gia... </h5>

                     </div>
                 </div>
                 <div class="col">
                     <div class="Avt-img">
                         <img class="img-thumbnail" src="assets/img/avt_Oanh.jpg" alt="img">
                     </div>
                     <div class="Avt-Title">
                         <h3>Võ Thị Kim Oanh</h3>
                         <h5>Chuyên Gia... </h5>
                     </div>
                 </div>
                 <div class="col">
                     <div class="Avt-img">
                         <img class="img-thumbnail" src="assets/img/avt_Oanh.jpg" alt="img">
                     </div>
                     <div class="Avt-Title">
                         <h3>Võ Thị Kim Oanh</h3>
                         <h5>Chuyên Gia... </h5>
                     </div>
                 </div>
                 <div class="col">
                     <div class="Avt-img">
                         <img class="img-thumbnail" src="assets/img/avt_Oanh.jpg" alt="img">
                     </div>
                     <div class="Avt-Title">
                         <h3>Võ Thị Kim Oanh</h3>
                         <h5>Chuyên Gia... </h5>
                     </div>
                 </div>

             </div>
         </div>
     </div>-->


    <!-- End Chuyen gia -->

</div>