
@{
    ViewData["Title"] = "InputEmployee";
}

<form action="~/Home/GetEmployee" methhod ="post">
    <input type="text" name="name" />
    <br />
    <input type="number" name="age" />
    <br />
    <br />
    <button type="submit">Nhập</button>
</form>

