<footer id="footer">
    <div class="footer-widgets-wrapper">
        <div class="container">
            <div class="row">
                <div class="mt-3">
                    <div class="column col p-3 ">
                        <aside class="widget widget_text">
                            <h3 class="widget-title">LIÊN HỆ VỚI CHÚNG TÔI<span class="small-line"> </span></h3>
                            <p> <i class="fa fa-phone"></i> <span>Phone:</span> 093 596 35 94 </p>
                            <p>
                                <i class="fa fa-envelope"></i> <span> Email:</span> <a href="#">
                                    kimoanhvothi738@gmail.com
                                </a>
                            </p>
                            <p>
                                <i class="fa fa-globe"></i> <span>Web:</span> <a href="#S">https://oanhvuspa.vn/</a>
                            </p>
                            <p>
                                <i class="fa fa-location-arrow"></i> <span>
                                    La Ỷ, Phường Phú Thượng, Thừa Thiên Huế,
                                    Việt
                                    Nam
                                </span>
                            </p>

                        </aside>
                    </div>

                    <div class="column col p-3 " id="widget-footer-facebook">
                        <aside class="widget widget_facebook">
                            <h3 class="widget-title">KẾT NỐI VỚI CHÚNG TÔI<span class="small-line"> </span></h3>

                            <div class="fb-page" data-href="https://www.facebook.com/1309kimoanh"
                                 data-tabs="timeline" data-width="250" data-height="100" data-small-header="false"
                                 data-adapt-container-width="false" data-hide-cover="false"
                                 data-show-facepile="false">
                                <blockquote cite="https://www.facebook.com/1309kimoanh"
                                            class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/1309kimoanh">Oanh Vũ Spa &amp; Nail</a>
                                </blockquote>
                            </div>

                            <div id="fb-root"></div>
                            <script async defer crossorigin="anonymous"
                                    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v19.0"
                                    nonce="aVgOynZ9"></script>
                        </aside>
                        <ul class="dt-sc-social-icons">
                            <li>
                                <a class="dt-sc-tooltip-top facebook" href="https://www.facebook.com/1309kimoanh"
                                   target="_blank"> <i class="fa-brands fa-facebook-f"></i> </a>
                            </li>
                            <li>
                                <a class="dt-sc-tooltip-top tiktok"
                                   href="https://www.tiktok.com/%40kimoanh.1309"
                                   target="_blank"> <i class="fa-brands fa-tiktok"></i> </a>
                            </li>
                            <li>
                                <a class="dt-sc-tooltip-top instagram" href="https://www.instagram.com/explore/locations/102323275813456/oanh-vu-spa-nail/"
                                   target="_blank"> <i class="fa-brands fa-instagram"></i></i> </a>
                            </li>
                        </ul>
                    </div>

                    <div class="column col p-3 ">
                        <div class="google_maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.5237424821635!2d107.58819102589814!3d16.499636027770457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a1aa07c8fe33%3A0xeda59c466f3fea00!2zVGjDtG4gTGEg4bu3LCBwaMO6IHRoxrDhu6NuZywgcGjDuiB2YW5nLCB0aOG7q2EgdGhpw6puIGh14bq_!5e0!3m2!1svi!2s!4v1706973063768!5m2!1svi!2s"
                                    width="419" height="287" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- **footer-widgets-wrapper - End** -->
    <div class="copyright">
        <div class="container">
            <p>Oanh vũ spa & Nail </p>
        </div>
    </div>
</footer>
