@using SV20T1080048.Web;
<header class="main-header">
    <div class="wrapper">
        <div class="inner-wrapper">
            <!-- **Top Bar** -->
            <div class="top-bar hidden-xs">
                <div class="container">

                    <ul class="top-menu">
                        <li> <i class="fa-solid fa-phone"></i> HOTLINE: <span> 093 596 35 94 </span></li>
                        <li>
                            <i class="fa-brands fa-facebook-f"></i> Facebook: <a href="https://www.facebook.com/1309kimoanh" title="Oanh Vũ Spa"> Oanh Vũ Spa & Nail </a>
                        </li>
                        <li> <i class="fa-solid fa-clock"></i> GIỜ LÀM VIỆC: <span> 8h30 - 21h30 </span></li>
                    </ul>
                    <div class="top-right">
                        <span></span>
                        <ul class="dt-sc-social-icons">
                            <li>
                                <a href="https://www.facebook.com/1309kimoanh" target="_blank">
                                    <i class="fa-brands fa-facebook-f"></i></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/explore/locations/102323275813456/oanh-vu-spa-nail/"
                                   target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.tiktok.com/%40kimoanh.1309" target="_blank">
                                    <i class="fa-brands fa-tiktok"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div><!-- **Top Bar - End** -->
            <div id="header-wrapper">
                <!-- **Header** -->
                <div class="header">
                    <div class="container headermobi">
                        <!-- **Logo - End** -->
                        <div id="logo">
                            <a href="~/Home">
                                <img src="~/images/img/logo.png" alt="oanhvu-spa" width="192px"
                                     height="68px" />
                            </a>
                        </div><!-- **Logo - End** -->
                        <div id="menu-container">
                            <!-- **Nav - Starts**-->
                            <nav id="main-menu">
                                <div id="dt-menu-toggle" class="dt-menu-toggle">
                                    <span class="dt-menu-toggle-icon"></span>
                                </div>
                                <ul class="menu" id="navigation">
                                    <li class="menu-item-simple-parent current_page_item">
                                        <a href="~/Home">
                                            Trang
                                            chủ
                                        </a>
                                    </li>
                                    <li class="menu-item-simple-parent "><a href="~/GioiThieu">Giới thiệu</a></li>
                                    <li class="menu-item-simple-parent ">
                                        <a href="~/DichVu">Dịch vụ</a>

                                    </li>
                                    <li class="menu-item-simple-parent ">
                                        <a href="~/SanPham">Sản phẩm</a>

                                    </li>
                                    <li class="menu-item-simple-parent "><a href="~/LienHe">Liên hệ</a></li>
                                    <li class="menu-item-simple-parent ">
                                        <a href="~/GioHang" title="Giỏ hàng">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </a>
                                    </li>
                                    <li class="menu-item-simple-parent ">
                                        <a href="~/TaiKhoan" title="Tài Khoản">
                                            <i class="fa-solid fa-user"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- **Nav - End**-->
                        </div>
                    </div>
                </div><!-- **Header - End** -->
            </div>
        </div>
    </div>
</header>