@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--MAIN-->
<div class="main">
    <div class="container content">
        <div class="row">
            <h2>Về spa chúng tôi</h2>
            <div class="col-8">
                <p>
                    Hướng đến giá trị vẻ đẹp - Nature Beauty, trung tâm SPA chúng tôi luôn hướng đến phong cách phục
                    vụ chuẩn 5 sao. Hơn thế nữa mục đích chúng tôi mang đến cho khách hàng là sự trân trọng về những
                    gì tốt đẹp nhất của tuổi thanh xuân, là sự lưu giữ vẻ đẹp rạng ngời của làn da, là sự cải thiện
                    và phục hồi những gì đã mất đi. Chúng tôi - những chuyên gia về Massage có bằng quốc tế luôn
                    thấu hiểu hết những nỗi lo lắng, trăn trở về vẻ đẹp cũng như làm cách nào duy trì nét đẹp ấy một
                    cách tự nhiên và dài lâu nhất.
                </p>
                <hr>
                <p>
                    Chúng tôi - với các phương pháp trị liệu cùng với các bài Massage đẳng cấp sẽ giúp bạn nhanh
                    chóng lấy lại sự cân bằng của cơ thể. Đồng thời thông qua các buổi SPA sẽ đem đến cho bạn một
                    làn sinh khí với sự phục hồi về làn da tươi trẻ mà bấy lâu vì sự bộn bề trong công việc mà đánh
                    mất. Chỉ mất tầm 30 - 60 phút Massage cùng các dược thảo tự nhiên ( như các loại tinh dầu được
                    điều chế từ hương hoa tốt cho da và tinh thần, muối chiết xuất từ tre, từ biển,đá mài mòn,...)
                    sẽ làm cho bạn cảm thấy những thay đổi tuyệt vời.
                </p>
            </div>
            <div class="col-4">
                <img src="/images/img/gt01.png" alt="">
            </div>
        </div>
    </div>
    <!-- Slỉde Show -->
    <div class="container slideshow">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/sld01.png" alt="Los Angeles" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/sld02.png" alt="Chicago" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/sld03.png" alt="New York" class="d-block w-100">
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>

    </div>
</div>
<!--END OF MAIN-->
