@model SV20T1080048.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Người giao hàng";

}

<div class="box box-primary">
    <div >
        <!-- From Tìm kiếm-->
        <form id="formSearchInput" action="~/Admin/Shipper/Search" method="get">
            <div class="input-group">
                <input type="text" name="searchValue" class="form-control" placeholder="Nhập tên Đơn vị cần tìm...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="~/Admin/Shipper/Create" class="btn btn-flat btn-primary">
                        <i class="fa fa-plus "> Bổ sung</i>
                    </a>
                </span>
            </div>
        </form>
        <!--Hiển thị danh sách.-->

        <div id="searchResult">
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#formSearchInput").submit(function (e) {
                e.preventDefault()
                doSearch()
                return
            })
            doSearch(@Model.Page)
        })
        function doSearch(page) {
            var url = $("#formSearchInput").prop("action")
            var postData = $("#formSearchInput").serializeArray()
            postData.push({ "name": "page", "value": page })

            $.ajax({

                url,
                type: "POST",
                data: postData,
                error: function (error) {
                    alert("Your request is not valid!")
                },
                success: function (data) {
                    $("#searchResult").html(data)
                }
            })
        }
    </script>
}
